/*độ rộng nhỏ hơn 768px*/
#sub-dropdown:hover #sub-dropdown-menu {
    display: none;
}
* {
    overflow-x: hidden;
}
header .col-md-3 img {
    width: 50%;
}
.icon-bootstrap {
    display: none;
}
<<<<<<< HEAD
.card {
    width: 100%;
}
.card-big img { 
    max-width: 100%;
    height: auto;
=======
.product-block-inner-1{
    width:163px;
    height:163px;
    margin:0;
}
.massPrice,.massColor,.massFilter,.massSort{
    width:4rem;
    font-size:0.7rem;
}
.massPrice,.massColor{
    margin-right:1rem;
}
.massFilter{
    width:6rem;
}
.quantity{
    font-size:0.7rem;
>>>>>>> 49c415fe9091982cad0fba7f2be831f7f3dd5fc6
}