/*độ rộng nhỏ hơn 768px*/
#sub-dropdown:hover #sub-dropdown-menu {
    display: none;
}
* {
    overflow-x: hidden;
}
header .col-md-3 img {
    width: 50%;
}
.icon-bootstrap {
    display: none;
}
.card {
    width: 100%;
}
.card-big img { 
    max-width: 100%;
    height: auto;
}