/*độ rộng nhỏ hơn 768px*/
#sub-dropdown:hover #sub-dropdown-menu {
    display: none;
}
<<<<<<< HEAD

}
=======
>>>>>>> d89bbcbd3685772eb8cf695a33a25e38492ce948
header .col-md-3 img {
    width: 50%;
}
.icon-bootstrap {
    display: none;
}
<<<<<<< HEAD

.product-block-inner-1{
    width:163px;
    height:163px;
    margin:0;
=======
.card {
    width: 100%;
}
.card-big img {
    max-width: 100%;
    height: auto;
}
.product-block-inner-1 {
    width: 163px;
    height: 163px;
    margin: 0;
}
.massPrice,
.massColor,
.massFilter,
.massSort {
    width: 4rem;
    font-size: 0.7rem;
>>>>>>> d89bbcbd3685772eb8cf695a33a25e38492ce948
}
.massPrice,
.massColor {
    margin-right: 1rem;
}
.massFilter {
    width: 6rem;
}
.quantity {
    font-size: 0.7rem;
}
.modal-dialog.modal-dialog-products {
    max-width: 80% !important;
}
.only_pc {
    display: none;
}
<<<<<<< HEAD
.quantity{
    font-size:0.7rem;
}
.tieude,.tieude-udtv,.tieude-khuyenmai,.tieude-tintuc {
    overflow-y: hidden;
}
=======
>>>>>>> d89bbcbd3685772eb8cf695a33a25e38492ce948
