* {
    padding: 0;
    margin: 0;
}

/* general css */
.no-mr {
    margin: 0 !important;
}
.no-pd {
    padding: 0 !important;
}
.dropdown-menu {
    display: none;
}
.nav-link {
    padding: 0;
}
#sub-dropdown {
    position: relative;
}
#sub-dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}
li.nav-item {
    padding: 0 15px !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    transition: all 0.6s ease-in;
    margin-top: -2px;
}
#sub-dropdown:hover #sub-dropdown-menu {
    display: block;
}
.icon-bootstrap a {
    padding: 0 10px;
}
.icon-bootstrap a svg {
    color: black;
}
.navbar-nav-custom li a {
    text-transform: uppercase;
    color: black !important;
}
.navbar-nav-custom .dropdown-item {
    transition: 0.6s;
}
.navbar-nav-custom .dropdown-item:hover {
    background: #c2ab87;
    transition: 0.6s;
    border-radius: 10px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
    background-image: url('./../img/arrow-right.png');
    padding: 10px !important;
    opacity: 0.5;
}
.carousel-control-next-icon:hover {
    opacity: 1;
}
.carousel-control-prev-icon:hover {
    opacity: 1;
}
.carousel-control-prev-icon {
    background-image: url('./../img/arrow-left.png');
}
.menu {
    background: white;
    transition: 0.6s;
}
.messenger i {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.messenger i {
    font-size: 40px;
    display: inline-block;
    color: white;
    background: #0084ff;
    padding: 8px;
    border-radius: 200px;
}
.card {
    border: none;
}
.container a {
    text-decoration: none;
}
.title-collection,
.content-concept h3,
.content-concept h4 {
    color: #363636;
    text-align: center;
    margin: 10px 0;
    transition: 0.6s;
}
.title-collection:hover,
.content-concept h3:hover,
.content-concept p:hover,
.content-concept h4:hover {
    color: #aaaa92;
    transition: 0.6s;
}
.owl-carousel .item {
    height: 10rem;
    background: #4dc7a0;
    padding: 1rem;
}
.btns-carousel-slide {
    display: table;
    margin: 10px auto;
}
.customNextBtn,
.customPreviousBtn {
    color: grey;
    padding: 10px;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.position-button-slide {
    position: relative;
}
.customPreviousBtn {
    position: absolute;
    left: -60px;
    top: 38%;
    z-index: 200;
}
.customNextBtn {
    position: absolute;
    right: -60px;
    top: 38%;
    z-index: 200;
}
.content-concept h3 {
    font-size: 16px;
    text-align: left;
}
.content-concept p {
    font-size: 13px;
    margin: 0 200px 0 0;
    color: black;
    transition: 0.6s;
}
.content-concept h2 {
    font-size: 18px;
}
.content-concept h4 {
    font-size: 15px;
    line-height: 2;
}
.content-img-items {
    /* height: 500px !important; */
}
.content-img-items .col-md-12 img,
.content-img-items .col-md-6 img {
    height: 350px;
    width: 100%;
}
.content-img-items img {
    height: 100%;
}
.about-us h1 {
    font-size: 25px;
    color: #676767;
}
.about-us p {
    font-size: 13px;
    color: #545454;
}
.share-moment h3 {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #676767;
    font-weight: 600;
}
.footer span {
    color: #3d3030;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer p {
    font-size: 13px;
    color: #242327;
    transition: 0.6s;
}
.icon-footer {
    font-size: 25px;
    color: black;
    margin: 10px;
    transition: 0.6s;
}
.icon-footer:hover,
.footer p:hover {
    color: #a8a88f;
    transition: 0.6s;
}
.scrollmenu {
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.6s;
    z-index: 999;
}
.scoo {
    background: black;
}
/* */
.container-fluid {
    padding: 0 !important;
}
.main-content {
    height: 296px;
    width: 100%;
    position: relative;
}
.main-content h2 {
    font-size: 45px;
}
.main-content .background {
    width: 100%;
    height: 296px;
    display: block;
}
.content {
    position: absolute;
    padding: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;

    bottom: 14px;
    left: 92px;
    z-index: 2;
}
.section-box {
    padding: 0 75px;
}

.images img {
    max-width: 100%;
    height: auto;
}
.image-background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}
.image-background {
    padding-top: 350px;
    padding-bottom: 350px;
    text-align: center;
}

.image-background:after {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    content: ' ';
    height: 100%;
    text-align: center;
    position: absolute;
    background: rgb(120 121 116);
}
.khoi {
    text-align: center;
}

.khoi .icon-khoi img {
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
}
.khoi-to {
    margin-top: 85px;
}
.container2 {
    padding: 0 115px;
}
.nr-line {
    margin-top: 35px !important;
}
.line {
    border-width: 1px 0 0;
    /* margin: 35px auto; */
    width: 100%;
    display: inline-block;
    border-style: solid;
    color: black;
}
.title {
    width: 100%;
}
.text-center {
    text-align: center;
    margin-bottom: 15px;
}
.box-trong {
    text-align: center;
}
.box-trong .img {
    overflow: hidden;
    margin-bottom: 30px;
}
.box-trong .img img {
    max-width: 100%;
    height: auto;
    transition: 2s;
}
.box-trong h4 {
    margin-bottom: 15px;
}
.box-trong:hover .img img {
    transform: scale(1.1);
}
.info {
    margin-top: 55px;
}
.diachi .list-info {
    list-style: none;
}
.menu img {
    width: 100%;
}
