.dropdown-menu {
  display: none;
}
.nav-link {
  padding: 0;
}
#sub-dropdown {
  position: relative;
}
#sub-dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
  transition: all 0.6s ease-in;
  margin-top: -2px;
}
#sub-dropdown:hover #sub-dropdown-menu {
  display: block;
}
.icon-bootstrap a {
  padding: 0 10px;
}
.icon-bootstrap a svg {
  color: black;
}
.nav-custom {
}
.navbar-nav-custom li a {
  text-transform: uppercase;
  color: black !important;
}
.navbar-nav-custom .dropdown-item {
  transition: 0.6s;
}
.navbar-nav-custom .dropdown-item:hover {
  background: #c2ab87;
  transition: 0.6s;
  border-radius: 10px;
}
.product-name a {
  font-size: 18px;
  color: #545454;
  transition: 0.6s;
}
.product-item-description {
  color: #545454;
  font-size: 15px;
}
.product-name a:hover {
  color: #bcbca9;
  transition: 0.6s;
}
.product-price {
  color: #888888;
}
.curprice {
  font-size: 20px;
  font-weight: 700;
}
.delprice {
  text-decoration: line-through;
}
.quickview-only {
  background-color: white;
  width: 40px;
  height: 127px;
}
.quickview-only a {
  text-align: center;
  margin: 10px 0;
  color: #666666;
}
.card {
  position: relative;
}
.quickview-only {
  position: absolute;
  top: 25px;
  right: -100%;
}
.product-hover {
  display: none !important;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.6s !important;
}
.card:hover .product-hover {
  display: block !important;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card:hover .quickview-only {
  right: 0;
  transition: 0.6s !important;
}
